<div class="container u-margin-top-medium u-margin-bottom-medium" *ngIf="subpage">
  <h2 style="font-size: 2.5rem" class="u-margin-bottom-medium">{{ subpage.name }}</h2>
  <div style="font-size: 1.6rem" [innerHTML]="subpage.content"></div>
  <ng-container *ngIf="showGallery()">
    <h3 class="u-margin-top-big gallery-text">Galerie</h3>
    <app-image-gallery [images]="subpage.galleryFiles"></app-image-gallery>
  </ng-container>
</div>
