<div mat-dialog-content class="mat-dialog-container">
  <p style="font-size: 1.5rem">{{ images[currentIndex].description }}</p>
  <img [src]="idToImgSource(images[currentIndex].id)" class="img-preview" />
</div>
<div mat-dialog-actions style="float: right">
  <button mat-button [mat-dialog-close] cdkFocusInitial>Zavřít</button>
</div>
