.u-center-text { text-align: center !important; }

.u-margin-bottom-small { margin-bottom: 1.5rem !important; }
.u-margin-bottom-medium {
  margin-bottom: 4rem !important;

  @include respond(tab-port) {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;

  @include respond(tab-port) {
    margin-bottom: 5rem !important;
  }
}

.u-margin-top-small { margin-top: 2rem !important; }
.u-margin-top-medium { margin-top: 6rem !important; }
.u-margin-top-big { margin-top: 8rem !important; }
.u-margin-top-huge { margin-top: 10rem !important; }

.u-width-80 { width: 80% !important;}
.u-width-70 { width: 70% !important;}
.u-width-60 { width: 60% !important;}

.u-center { margin: 0 auto }

.clickable {
  cursor: pointer;
}
