@import url('https://cdn.quilljs.com/1.2.2/quill.snow.css');
@import url('https://cdn.quilljs.com/1.2.2/quill.bubble.css');
@import url('https://cdn.quilljs.com/1.2.2/quill.bubble.css');
@import url('https://fonts.googleapis.com/css?family=Aref+Ruqaa|Mirza|Roboto');
@import url('https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-alpha1/katex.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-alpha1/katex.min.js');

.quill-container {
  min-width: 25vh;
}
