h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

.red {
  color: #d9534f;
}

.light-blue {
  color: #5bc0de;
}

.dark-blue {
  color: #428bca;
}

.green {
  color: #5cb85c;
}
