$color-grey-light-1: #cccccc;
$color-grey-light-2: #eeeeee;

$color-brawn: #333;

$color-pink: #eb2f64;
$color-pink-light: #FF3366;

// break points
$bp-largest: 75em;     // 1200px
$bp-large: 68.75em;    // 1100px
$bp-medium: 56.25em;   // 900px
$bp-small: 37.5em;     // 600px
$bp-smallest: 31.25em; // 500px
