<!-- https://codepen.io/Alioos_90/pen/VPbzpy -->
<footer>
  <div class="container">
    <div class="row">

      <div class="col-md-6 find-us">
        <h3>Najdete nás</h3>
        <ul class="list-unstyled">
          <li>Libušina 540/1, Břeclav 690 02</li>
        </ul>
      </div>

      <div class="col-md-6 social-container">
        <ul>
          <li>
            <a  target="_blank"
                href="https://www.facebook.com/Studio-Effect-B%C5%99eclav-133574830026789/"
                matTooltip="Navštivte náš facebook">
              <i class="fab fa-facebook-f icon"></i>
            </a>
          </li>
          <li>
            <a target="_blank"
               href="https://www.instagram.com/studio_effect_breclav/"
               matTooltip="Navštivte náš instagram">
              <i class="fab fa-instagram icon"></i></a>
          </li>
        </ul>
      </div>

    </div>
  </div>
  <div class="copyright text-center">
    Copyright &copy; {{ year }} <span>STUDIO EFFECT</span>
  </div>
</footer>
