// https://uicookies.com/css-hover-effects/
footer {
  background: #222;
  color: #aaa;
  padding-top: 10px;
}

footer a {
  color: #aaa;
}

footer a:hover {
  color: #fff;
}

footer h3 {
  color: #0894d1;
  letter-spacing: 1px;
  margin: 30px 0 20px;
}

.list-unstyled {
  font-size: 1.5rem;
}

footer .three-column {
  overflow: hidden;
}

footer .three-column li{
  width: 33.3333%;
  float: left;
  padding: 5px 0;
}

.social-container {
  display: flex;
  align-items: center;
}

footer .social-list {
  overflow: hidden;
  margin: 0 auto;
}

.social-icon {
  height: 45px;
  width: 45px;
  opacity: 0.8;
  transition: all 1s;
}

.social-icon:hover {
  opacity: 1;
}

footer .social-list li {
  float: left;
  margin-right: 3px;
  opacity: 0.7;
  overflow: hidden;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

footer .social-list li:not(:first-child) {
  margin-left: 10px;
}

footer .socila-list li:hover {
  opacity: 1;
}

footer .img-thumbnail {
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid #444;
  margin-bottom: 5px;
}

footer .copyright {
  padding: 15px 0;
  background: #333;
  margin-top: 20px;
  font-size: 15px;
}

footer .copyright span {
  color: #0894d1;
}

@media only screen and (max-width: 991px) {
    .find-us {
      text-align: center;
    }
}

//// icons
.social-container {
  ul {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  ul li {
    list-style: none;
  }

  ul li a {
    width: 60px;
    height: 60px;
    background-color: #fff;
    text-align: center;
    line-height: 55px;
    font-size: 3rem;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
  }

  ul li a .icon {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
    width: 45px;
    height: 45px;
  }

  ul li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
  }

  ul li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
  }

  ul li a:hover:before {
    top: 0;
  }

  ul li:nth-child(1) a:before{
    background: #3b5999;
  }

  ul li:nth-child(2) a:before{
    background: linear-gradient(to right, rgb(193,53,132), rgb(225,48,108));
  }

  ul li:nth-child(4) a:before {
    background: #dd4b39;
  }
}

@media only screen and (max-width: 767px) {
  .social-container {
    margin-top: 40px;
    margin-bottom: 30px;

    ul {
      padding: 0;
    }
  }
}

