<ngb-carousel *ngIf="images">
  <ng-template ngbSlide *ngFor="let img of images">
    <div class="picsum-img-wrapper" [ngStyle]="{backgroundImage: 'url('+ img + ')'}"></div>
  </ng-template>
</ngb-carousel>
<div class="container">
  <div class="row">
    <div class="col-sm-6 img-container">
        <img src="assets/img/logo.jpg" alt="Logo STUDIO EFFECT" class="logo">
    </div>
    <div class="col-sm-6 content u-margin-top-small" [innerHTML]="content"></div>
  </div>
</div>
