.picsum-img-wrapper {
  width: 100%;
  height: 60vh;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: grey;
}
.logo {
  width: 80%;
  text-align: center;
}
.content {
  font-size: 1.5rem;
}

@media only screen and (max-width: 767px) {
  .img-container {
    text-align: center;
  }
}
