
.loading-container {
  background-color: #ffffff;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 25vh;
  box-shadow: 5px 10px rgba(#000, .2);
  padding: 4rem;
  text-align: center;
}


