<div class="container">
  <h1>Nenalezeno</h1>
  <p>Stránka, na kterou se snažíte přistoupit, neexistuje. Vraťte se prosím na
    <span style="color: lightblue; text-decoration: underline" class="clickable" routerLink="/">hlavní stránku</span>.</p>
</div>
