<div class="gallery-container">
  <div class="wrapper" *ngFor="let row of imageRows">
    <div class="media clickable" *ngFor="let img of row" (click)="onImgContainerClick(img.index)">
      <img [src]="idToImgSource(img.id)" />
    </div>
  </div>
</div>

