<nav ngxNavbarDynamicExpand class="navbar navbar-expand-md bg-dark navbar-dark">

  <button
    class="navbar-toggler"
    type="button"
    (click)="collapse.toggle()"
    aria-controls="main-nav"
    aria-expanded="false"
    aria-label="Navbar">
    <span class="navbar-toggler-icon d-flex align-items-center justify-content-center">
      <i class="fas fa-bars text-white"></i>
    </span>
  </button>
  <ngx-navbar-collapse id="main-nav" #collapse="ngxNavbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item clickable" routerLink="/" routerLinkActive="active">
        <a class="nav-link">Domů</a>
      </li>
      <li *ngFor="let est of establishments;let i = index" class="nav-item clickable" routerLinkActive="active">
        <!--<a class="nav-link">{{ est.name }}</a>-->
        <div ngbDropdown class="d-inline-block" style="height: 100%">
          <button class="btn dropdown-btn" ngbDropdownToggle>{{ est.name }}</button>
          <div ngbDropdownMenu>
            <button class="subpage-btn" ngbDropdownItem [routerLink]="'/podstranka/' + est.id + '/' + sub.route" *ngFor="let sub of est.subpages">{{ sub.name }}</button>
          </div>
        </div>
      </li>
    </ul>
  </ngx-navbar-collapse>
</nav>
